body{
    margin: 0;
}

header, footer{
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    color: navy;
    padding: 1rem;
}

main{
    margin: 1rem;
    padding: 1rem;
    box-shadow: 0 0 30px #777;
    background-color: gainsboro;
}

#cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: .5rem;
}

/* CON FLEX SE CENTRA LA IMAGEN Y NO SE DEFORMA */
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid navy;
    background-color: rgba(0, 0, 128, 0.296);
}

h2{
    margin-bottom: 0;
    text-align: center;
    color: navy
}

P{
    text-align: center;
}

img{
    width: auto;
	max-width: 320px;
}