@media screen and (min-width: 500px) {

    header,
    nav,
    main,
    footer {
        max-width: 100%;
    }

    header {
        background-color: #000000;
    }

    nav {
        display: flex;
        justify-content: center;
    }

    nav ul {
        display: flex;
    }

    nav ul li:hover {
        background-color: gray;
    }

    footer {
        background-color: #000000;
    }
}