* {
    padding: 0;
    box-sizing: border-box;
    Font-family: "Roboto", Arial, sans-serif;
}

body {
    max-width: 960px;
    margin: 0 auto;
    box-sizing: border-box;
}

header {
    display: grid;
    background-color: #000000;
    padding: 15px;
    grid-template-columns: 65% 25% 10%;
}

.hlogo {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.hlogo img{
    padding-right: 10px;
    padding-bottom: 10px;
}

.ver {
    color: green;
}

.bla,
.resto {
    color: white;
}

.roj {
    color: red;
}

.resto {
    font-size: 0.5em;
}

.title h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #17bd25;
}

.socialMedia {
    grid-column: 2/3;
    grid-row: 1;
    align-self: center;
    display: flex;
    justify-content: center;
}

#hamburgerBtn {
    align-self: center;
    justify-self: center;
    font-size: 2rem;
    color: #ffffff;
    background-color: transparent;
    border: none;
}

#hamburgerBtn span:nth-child(1) {
    display: block;
}

#hamburgerBtn span:nth-child(2) {
    display: none;
}

#hamburgerBtn.open span:nth-child(1) {
    display: none;
}

#hamburgerBtn.open span:nth-child(2) {
    display: block;
}

nav {
    grid-row: 2;
    grid-column: 1/4;
}

#primaryNav {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul {
    display: none;
}

nav ul.open {
    display: block;
}

nav ul {
    display: none;
}

nav ul.open {
    display: block;
}

nav ul li a {
    display: block;
    /*Esto permite hacer clickleable todo y no sólo las letras*/
    text-align: center;
    padding: .8rem 2vw;
    /* make the clickable area bigger. Puedes tocalo con los dedos */
    text-decoration: none;
    color: #ffffff;
    border-top: 1px solid #ffffff;
}

nav ul li.active a {
    background-color: rgba(0, 0, 0, 0.2);
    /*Mantiene un color fijo (active es la clase)*/
}

nav ul li a:hover {
    background-color: #ffffff;
    color: #000000;
    transform: scale(1.2);
}

/* HEADER DATE */
.container4 {
    grid-column: 1/4;
    grid-row: 3/4;
    text-align: center;
}

.date {
    grid-row: 3/4;
    text-align: center;
    padding: 0.75rem;
    background-color: #ffffff;
    max-width: 960px;
    width: 100%;
    color: #000000;
}

.banner {
    grid-row: 1/2;
    text-align: center;
    border-top: 3px dotted #000000;
    padding: 0.75rem;
    background-color: #ffffff;
    max-width: 960px;
    width: 100%;
    color: #000000;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
    box-sizing: border-box;
}

main>div {
    background-color: #ffffff;
    border: 1px solid #000000;
    padding: 1em;
    background-color: rgba(128, 128, 128, 0.114);
}

.cdmx {
    position: relative;
    padding: 0;
}

.cdmx img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.texto p {
    position: absolute;
    bottom: 20px;
    right: 10px;
    background-color: yellow;
    color: #000000;
    padding: 1rem;
    border-radius: 60px;
}

.event h2{
    text-align: left;
}

.event p {
    border-top: 1px solid black; /* Línea negra en la parte superior */
    border-bottom: 1px solid black; /* Línea negra en la parte inferior */
    padding-top: 10px; /* Espacio entre la línea superior y el texto */
    padding-bottom: 10px; /* Espacio entre la línea inferior y el texto */
}

.eventInfo {
    color: blue;
}

/*  RETO PERSONAL, CENTRA LA TABLA JUNTO CON EL CONTENIDO PREVIO*/
.weather {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Icono del clima a la izquierda, detalles a la derecha */
    gap: .5em;
}

.weather h2 {
    grid-column: 1 / -1; /* El título ocupa toda la primera fila */
    margin: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid black; /* Línea negra en la parte inferior */
}

/*  RETO PERSONAL, CENTRA LA IMAGEN EN EL EJE Y*/
.weather img {
    grid-row: 2; /* La imagen va en la segunda fila */
    justify-self: end; /* Alinea la imagen al final de su celda */
}

.temperature{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*  RETO PERSONAL, CENTRA LA TABLA JUNTO CON EL CONTENIDO PREVIO*/
table{
    grid-column: 1/3;
    margin: 0 auto;
}

.weather .final td:first-child,
.weather .principio td:first-child {
    text-align: right;
    padding-right: .5em;
}

.weather .final td:last-child,
.weather .principio td:last-child {
    text-align: left;
}

.memberS{
    border: none;
    background-color: white;
    padding: 0;
    margin-top: 1em;
    margin-bottom: 0;
    text-align: center;
    color: rgb(0, 0, 150);
}

.transport h2{
    margin: 0;
}

.transport p:nth-child(2) {
    text-align: right;
    margin: 0;
}

.transport p:nth-child(3){
    text-align: center;
    color: blue;
}

.code h2{
    margin: 0;
}

.code p:nth-child(2) {
    text-align: right;
    margin: 0;
}

.code p:nth-child(3){
    text-align: center;
    color: blue;
}

.fort h2{
    margin: 0;
}

.fort p:nth-child(2) {
    text-align: right;
    margin: 0;
}

.fort p:nth-child(3){
    text-align: center;
    color: blue;
}

footer {
    display: grid;
    background-color: #000000;
    padding: 1em;
    grid-template-rows: 50% 30% 20%;
    gap: 1em;
    align-items: center;
    justify-content: center;
}

.flogo img{
    margin-top: 1em;
}

footer .ver, .bla, .roj{
    font-size: 1em;
}

footer .resto {
    font-size: 1em;
}

.adress {
    display: grid;
    color: #ffffff;
}

.location {
    grid-column: 1/3;
    text-align: center;
    justify-items: center;
    color: #ffffff;
}

.location p{
    margin: 0;
}

.location a {
    color: #17bd25;
    text-decoration: none;
    font-size: 1.25em;
}

.parte2 {
    grid-column: 1/3;
    text-align: center;
    justify-items: center;
    margin-bottom: 1em;
    color: #ffffff;
    font-size: .75em;
}

footer h4 {
    margin-top: 0;
    margin-bottom: 0;
}

.lastupdate {
    color: yellow;
}


/* ESTE ES MI PUNTO SEGURO */