@media only screen and (min-width: 500px) {
    body {
        max-width: 960px;
        margin: 0 auto;
    }
    
    header {
        grid-template-columns: auto 1fr auto;
    }

    nav {
        grid-row: 1;
        grid-column: 2/3;
    }

    nav ul li a{
        border-top: none;
    }

    .socialMedia {
        grid-column: 3/4;
    }

    #hamburgerBtn {
        display: none;
    }

    #primaryNav {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100%;
    }

    .parte2{
        margin-top: auto;
        width: 100%;
    }



    /* MAIN HOME */
    .cdmx {
        grid-column: 1/4;
        grid-row: 1/2;
    }

    .event{
    grid-column: 1/3;
    grid-row: 2/3;
    }

    .weather {
        grid-column: 3/4;
        grid-row: 2/3;
    }

    .memberS{
        display: none;
    }

    .transport {
        grid-column: 1/2;
        grid-row: 3/4;
        box-shadow: 0px 0px 30px #444;
    }

    .code {
        grid-column: 2/3;
        grid-row: 3/4;
        box-shadow: 0px 0px 30px #444;
    }

    .fort {
        display: initial;
        grid-column: 3/4;
        grid-row: 3/4;
        box-shadow: 0px 0px 30px #444;
    }



    /* THANKYOU DESKTOP VIEW*/
    #thankyouPage{
        box-shadow: 0px 0px 30px #444;
    }

    #thankyouPage h1{
        box-shadow: none;
        border-radius: 0;
        padding: 1rem;
        margin: 0;
    }

    #thankyouPage p{
        box-shadow: none;
        border: none;
    }



    /* MAIN DISCOVER */
    .discover{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: self-start;
        gap: .5rem;
    }

    .dsidebar{
        margin: 0;
    }

    .dimages img:hover{
        box-shadow: 0 0 50px black;
    }
}