body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

li {
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: #000000;
}

header,
nav,
h2,
main,
footer {
    max-width: 640px;
    margin: 0 auto;
    padding: 1rem;
    box-sizing: border-box;
}

#mode {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 3rem;
    cursor: pointer;
    font-size: 1.5rem;
}

header {
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #000000;
}

h1 {
    padding: 1rem;
    color: white;
}

#hamburgerBtn {
    position: relative;
    padding: .5em;
    padding-bottom: 0;
    font-size: 2rem;
    color: #000000;
    background-color: transparent;
    border: none;
}

#hamburgerBtn span:nth-child(1) {
    display: block;
}

#hamburgerBtn span:nth-child(2) {
    display: none;
}

#hamburgerBtn.open span:nth-child(1) {
    display: none;
}

#hamburgerBtn.open span:nth-child(2) {
    display: block;
}

nav ul {
    display: none;
}

nav ul.open {
    display: block;
}

#primaryNav {
    list-style: none;
    padding: 0;
    margin: 0;
}

/*TODOS los ul tienen esa animaci贸n*/
ul li:hover {
    background-color: #000000;
    color: rgb(255, 255, 255);
    transition: .2s;
    transform: scale(1.2);
}

/* TODOS los ul, s贸lo modifica texto */
ul li:hover a {
    color: white;
}

/*Centra el texto*/
nav ul li {
    text-align: center;
}

/*position: relative; AL PARECER NO HACE NADA*/

/*Este c贸digo es el mejor para abarcar con el dedo
y para seleccionar todo el renglon, no s贸lo el texto*/
nav ul li a {
    display: block;
    padding: 1.5em;
}

nav ul li a.active {
    text-decoration: underline;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

.card {
    margin: 1rem 0;
    border: 1px solid #000000;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card h3 {
    background-color: #000000;
    color: white;
    padding: 1rem;
    margin: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card ul {
    display: inline-block;
    padding: 0 2em;
    text-align: left;
}

.card li {
    padding: .5em;
}

main p {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: #000000;
    color: white;
    align-items: center;
}

footer p {
    margin: 0;
}

.lastupdate {
    color: yellow;
}


/* DARK MODE */
.dark-mode {
    background-color: #000;
    color: #fff;
    border-color: #eee;
}

.dark-mode nav {
    border: 1px solid #eee;
}

.dark-mode #hamburgerBtn {
    color: #fff;
}

.dark-mode ul li:hover {
    background-color: #fff;
    color: #000;
    transition: .2s;
    transform: scale(1.2);
}

.dark-mode ul li:hover a {
    color: #000;
}

.dark-mode ul li a {
    text-decoration: none;
    color: #fff;
}

.dark-mode .card {
    border: 1px solid #eee;
}

.dark-mode .card h3 {
    border: 1px solid #eee;
}