body {
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
}

li {
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: #000000;
}

/*TODOS los ul tienen esa animación*/
ul li:hover {
    background-color: #000000;
    color: rgb(255, 255, 255);
    transition: .2s;
    transform: scale(1.2);
}

/* TODOS los ul, sólo modifica texto */
ul li:hover a {
    color: white;
}

header,
nav,
h2,
main,
footer {
    max-width: 640px;
    margin: 0 auto;
    padding: 1rem;
    box-sizing: border-box;
}

#mode {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 3rem;
    cursor: pointer;
    font-size: 1.5rem;
}

header {
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #000000;
}

h1 {
    padding: 1rem;
    color: white;
}

#hamburgerBtn {
    position: relative;
    padding: .5em;
    padding-bottom: 0;
    font-size: 2rem;
    color: #000000;
    background-color: transparent;
    border: none;
}

#hamburgerBtn span:nth-child(1) {
    display: block;
}

#hamburgerBtn span:nth-child(2) {
    display: none;
}

#hamburgerBtn.open span:nth-child(1) {
    display: none;
}

#hamburgerBtn.open span:nth-child(2) {
    display: block;
}

#primaryNav {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav{
    padding: 0;
}

nav ul {
    display: none;
}

nav ul.open {
    display: block;
}

nav ul li {
    text-align: center;
}

/*Este código es el mejor para abarcar con el dedo
y para seleccionar todo el renglon, no sólo el texto*/
nav ul li a {
    display: block;
    padding: 1.5em;
}

nav ul li a.active {
    text-decoration: underline;
}

main {
    grid-template-columns: 1fr;
    grid-gap: 1em;
    display: grid;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

.hero {
	margin: 0 auto;
	position: relative;
}

.hero img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.herolabel {
	position: absolute;
	top: 30px;
	left: 30px;
	background: radial-gradient(#00000058, #ffffff6d);
	padding: 1.5rem;
	box-shadow: 0 0 3rem #000;
	opacity: 0.75;
}

.herolabel p {
	margin: 0;
	font-weight: 700;
	font-size: 2rem;
	font-family:"Times New Roman", serif;
    color: #fff;
}

/* Estilos para la tarjeta en general */
.card {
    border: 1px solid #000000;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    /* Otros estilos de .card si son necesarios */
}

/* Encabezado de la tarjeta */
.card h3 {
    background-color: #000000;
    color: white;
    padding: 1em;
    margin: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* Contenedor del cuerpo de la tarjeta */
.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em; /* Ajusta según sea necesario */
    min-width: 200px; /* Ejemplo de un ancho mínimo */
}


.card-body ul {
    text-align: left; /* Cambia esto a left para alinear el texto a la izquierda */
    list-style: none; /* Remueve los estilos de lista por defecto si es necesario */
    padding: 0; /* Remueve padding por defecto */
}

/* Estilos para elementos de lista dentro de .card-body */
.card-body li {
    padding: 0.5em; /* Ajusta el padding como necesites, sin padding horizontal para alineación izquierda */
}

.label{
    font-weight: bold;
}

/* Mapa */
iframe{
    width: 100%;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: #000000;
    color: white;
    align-items: center;
}

footer p {
    margin: 0;
}

.lastupdate {
    color: yellow;
}

/* DARK MODE */
.dark-mode {
    background-color: #000;
    color: #fff;
    border-color: #eee;
}

.dark-mode nav {
    border: none;
}

.dark-mode #hamburgerBtn {
    color: #fff;
}

.dark-mode ul li:hover {
    background-color: #fff;
    color: #000;
    transition: .2s;
    transform: scale(1.2);
}

.dark-mode ul li:hover a {
    color: #000;
}

.dark-mode ul li a {
    text-decoration: none;
    color: #fff;
}

.dark-mode .card {
    border: 1px solid #eee;
}

.dark-mode .card h3 {
    border: 1px solid #eee;
}